examples/rotatingbox.json
[
    {
        "id": "73b4aedc.e9602",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6719f3f6.2cff0c",
        "type": "3D Sphere",
        "z": "73b4aedc.e9602",
        "scene": "497f4b6f.93ed34",
        "material": "eb9738d1.722f68",
        "name_conf_a": "sphere1",
        "segments_conf_n": 32,
        "diameter_conf_n": 1,
        "diameterX_conf_n": "",
        "diameterY_conf_n": "",
        "diameterZ_conf_n": "",
        "arc_conf_n": 1,
        "slice_conf_n": 1,
        "updatable_conf_b": false,
        "sideOrientation_conf_a": "2",
        "pos_x": "0",
        "pos_y": "0",
        "pos_z": "0",
        "scale_x": "1",
        "scale_y": "1",
        "scale_z": "1",
        "rot_x": "0",
        "rot_y": "0",
        "rot_z": "0",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "57773a73.197b94"
            ]
        ]
    },
    {
        "id": "5052649b.ba91ec",
        "type": "inject",
        "z": "73b4aedc.e9602",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"x\":1,\"y\":0,\"z\":0}",
        "payloadType": "json",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "6719f3f6.2cff0c"
            ]
        ]
    },
    {
        "id": "44371481.8b456c",
        "type": "inject",
        "z": "73b4aedc.e9602",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"x\":0,\"y\":0,\"z\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "1881081f.4d1d08"
            ]
        ]
    },
    {
        "id": "1881081f.4d1d08",
        "type": "3D Transform",
        "z": "73b4aedc.e9602",
        "name": "position",
        "relative": true,
        "xaxis": "0",
        "yaxis": "0.1",
        "zaxis": "0",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "6719f3f6.2cff0c"
            ]
        ]
    },
    {
        "id": "57773a73.197b94",
        "type": "debug",
        "z": "73b4aedc.e9602",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "6e91d5a3.b352dc",
        "type": "3D Box",
        "z": "73b4aedc.e9602",
        "scene": "497f4b6f.93ed34",
        "material": "55194f76.06c88",
        "name_conf_a": "redbox",
        "size_conf_n": 1,
        "height_conf_n": "",
        "width_conf_n": "",
        "depth_conf_n": "",
        "updatable_conf_b": false,
        "sideOrientation_conf_a": "2",
        "pos_x": 0,
        "pos_y": 0,
        "pos_z": 0,
        "scale_x": "0.25",
        "scale_y": "2",
        "scale_z": "2",
        "rot_x": 0,
        "rot_y": 0,
        "rot_z": 0,
        "x": 390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c53b2502.e94a58",
        "type": "3D Box",
        "z": "73b4aedc.e9602",
        "scene": "497f4b6f.93ed34",
        "material": "ea588959.fb9cf8",
        "name_conf_a": "bluebox",
        "size_conf_n": 1,
        "height_conf_n": "",
        "width_conf_n": "",
        "depth_conf_n": "",
        "updatable_conf_b": false,
        "sideOrientation_conf_a": "2",
        "pos_x": 0,
        "pos_y": 0,
        "pos_z": 0,
        "scale_x": "2",
        "scale_y": "0.25",
        "scale_z": "2",
        "rot_x": 0,
        "rot_y": 0,
        "rot_z": 0,
        "x": 410,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8c90fcb3.7a223",
        "type": "3D Box",
        "z": "73b4aedc.e9602",
        "scene": "497f4b6f.93ed34",
        "material": "2f08998d.f33b96",
        "name_conf_a": "purplebox",
        "size_conf_n": 1,
        "height_conf_n": "",
        "width_conf_n": "",
        "depth_conf_n": "",
        "updatable_conf_b": false,
        "sideOrientation_conf_a": "2",
        "pos_x": 0,
        "pos_y": 0,
        "pos_z": 0,
        "scale_x": "2",
        "scale_y": "2",
        "scale_z": "0.25",
        "rot_x": 0,
        "rot_y": 0,
        "rot_z": 0,
        "x": 410,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "71cd1d86.8a6b34",
        "type": "3D Transform",
        "z": "73b4aedc.e9602",
        "name": "rotate",
        "relative": true,
        "xaxis": "1",
        "yaxis": "0",
        "zaxis": "0",
        "pivot_x": 0,
        "pivot_y": 0,
        "pivot_z": 0,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "6e91d5a3.b352dc"
            ]
        ]
    },
    {
        "id": "4000e868.673d98",
        "type": "inject",
        "z": "73b4aedc.e9602",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.01",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "71cd1d86.8a6b34"
            ]
        ]
    },
    {
        "id": "240907e3.7867c8",
        "type": "3D Transform",
        "z": "73b4aedc.e9602",
        "name": "rotate",
        "relative": true,
        "xaxis": "0",
        "yaxis": "0",
        "zaxis": "1",
        "pivot_x": 0,
        "pivot_y": 0,
        "pivot_z": 0,
        "x": 190,
        "y": 580,
        "wires": [
            [
                "c53b2502.e94a58"
            ]
        ]
    },
    {
        "id": "15811f5e.6a9fd1",
        "type": "inject",
        "z": "73b4aedc.e9602",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.01",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "240907e3.7867c8"
            ]
        ]
    },
    {
        "id": "73847fa3.a65f5",
        "type": "3D Transform",
        "z": "73b4aedc.e9602",
        "name": "rotate",
        "relative": true,
        "xaxis": "0",
        "yaxis": "1",
        "zaxis": "0",
        "pivot_x": 0,
        "pivot_y": 0,
        "pivot_z": 0,
        "x": 170,
        "y": 700,
        "wires": [
            [
                "8c90fcb3.7a223"
            ]
        ]
    },
    {
        "id": "4002167.181dbe8",
        "type": "inject",
        "z": "73b4aedc.e9602",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.01",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 620,
        "wires": [
            [
                "73847fa3.a65f5"
            ]
        ]
    },
    {
        "id": "497f4b6f.93ed34",
        "type": "3D Scene",
        "z": "",
        "name": "myscene",
        "overlay": true
    },
    {
        "id": "eb9738d1.722f68",
        "type": "3D Material",
        "z": "",
        "name": "greenmat",
        "diffuse": "#50e254",
        "specular": "#000000",
        "alpha": "1"
    },
    {
        "id": "55194f76.06c88",
        "type": "3D Material",
        "z": "",
        "name": "red",
        "diffuse": "#d91717",
        "specular": "#000000",
        "alpha": "1"
    },
    {
        "id": "ea588959.fb9cf8",
        "type": "3D Material",
        "z": "",
        "name": "blue",
        "diffuse": "#0f6ce6",
        "specular": "#000000",
        "alpha": "1"
    },
    {
        "id": "2f08998d.f33b96",
        "type": "3D Material",
        "z": "",
        "name": "purple",
        "diffuse": "#d63eea",
        "specular": "#f6f4f4",
        "alpha": "1"
    }
]
